@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --primary-color: #5c6168;
  --secondary-color: #e8eaee;
  --contrast-color: #d67215;
}

*,
*::before,
*::after {
  font-family: inherit;
  color: var(--primary-color);
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 2rem;
  font-size: calc(3vw + 2rem);
}

.header .builder {
  color: var(--contrast-color);
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--secondary-color);
  font-size: 1.25rem;
}
